<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
    <link rel="stylesheet", href="/stylesheets/style.css">
</head>
<body>
    <P>Please fill in the form. Thank you!</P>


    <div>

 <form action="/users/submit" method="post">
    <label form="name">Name</label>
    <input type="text" name="name">
    <label form="email">Email</label>
    <input type="text" name="email">
    <input type="submit" value="Submit">
    </form>
    <!--  <form action="/users/submit" method="post">
    <label form="firstname">Firstname</label>
    <input type="text" name="name">
    <label form="lastname">Lastname</label>
    <input type="text" name="name">
    <label form="email">Email</label>
    <input type="text" name="email">
    <label form="phone">Phone</label>
    <input type="text" name="phone">
    <input type="submit" value="Submit">
    </form> -->
</div>

</body>
</html>